<div id="<%= dom_id reserva %>">

  <p>
    <strong>Cabaña:</strong>
    <%= reserva.nombre_cabana %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= reserva.start_time %>
  </p>

  <p>
    <strong>Fecha término:</strong>
    <%= reserva.end_time %>
  </p>

</div>
