<p style="color: green"><%= notice %></p>
<% if current_user %> 
<h1>Reservas</h1>

<div id="reservas">
  <% @reservas.each do |reserva| %>
    <% if current_user.id == reserva.id_usuario %>
    <%= render reserva %>
    <p>
      <%= link_to "Ver reserva", reserva %>
    </p>
    <% end %>
    <% end %>

</div>


<%= link_to "New reserva", new_reserva_path %>
<% end %>